<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only [navPush]="addPlacePage">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Gasto Menos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let place of places; let i = index" (click)="onOpenPlace(place, i)">
    <img [src]="place.imageUrl">
    <ion-card-content text-center>
      <ion-card-title>
        {{ place.title }}
      </ion-card-title>
      <p>{{ place.description }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
