
<ion-header>

  <ion-navbar>
    <ion-title>Choose Location</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>

    <ion-row>
      <ion-col>
        <div class="form-group">
          <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <sebm-google-map id="map-canvas"
          [latitude]="location.lat"
          [longitude]="location.lng"
          [zoom]="16"
          (mapClick)="onSetMarker($event)">
          <sebm-google-map-marker
            [latitude]="marker.lat"
            [longitude]="marker.lng"
            *ngIf="marker"></sebm-google-map-marker>
        </sebm-google-map>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button
          ion-button
          block
          color="secondary"
          (click)="onConfirm()"
          [disabled]="!marker">Confirm</button>
      </ion-col>
      <ion-col>
        <button
          ion-button
          block
          color="danger"
          (click)="onAbort()">Abort</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
